<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="X.Neurons.P.LeoLedtech.Test.TotalPower.Main" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="X.Neurons.P.LeoLedtech.Test.TotalPower.AppSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <X.Neurons.P.LeoLedtech.Test.TotalPower.Main>
      <setting name="serverIP" serializeAs="String">
        <value>0.0.0.0</value>
      </setting>
    </X.Neurons.P.LeoLedtech.Test.TotalPower.Main>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>PerMonitorV2</value>
      </setting>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value>Skin/The Bezier</value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value>Office Colorful</value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CompactUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value>UseControlFont</value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CustomPaletteCollection" serializeAs="Xml">
        <value />
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <userSettings>
    <X.Neurons.P.LeoLedtech.Test.TotalPower.AppSetting>
      <setting name="serverIP" serializeAs="String">
        <value>0.0.0.0</value>
      </setting>
      <setting name="clientID" serializeAs="String">
        <value>none</value>
      </setting>
      <setting name="jig_comport_value" serializeAs="String">
        <value>none</value>
      </setting>
      <setting name="jig_baudrate_value" serializeAs="String">
        <value>115200</value>
      </setting>
      <setting name="jig_parity_value" serializeAs="String">
        <value>NONE</value>
      </setting>
      <setting name="jig_databits_value" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="jig_stopbits_value" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="powersupply_comport_value" serializeAs="String">
        <value>none</value>
      </setting>
      <setting name="powersupply_baudrate_value" serializeAs="String">
        <value>115200</value>
      </setting>
      <setting name="powersupply_parity_value" serializeAs="String">
        <value>NONE</value>
      </setting>
      <setting name="powersupply_databits_value" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="powersupply_stopbits_value" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="scanner_comport_value" serializeAs="String">
        <value>none</value>
      </setting>
      <setting name="scanner_baudrate_value" serializeAs="String">
        <value>9600</value>
      </setting>
      <setting name="scanner_parity_value" serializeAs="String">
        <value>NONE</value>
      </setting>
      <setting name="scanner_databits_value" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="scanner_stopbits_value" serializeAs="String">
        <value>1</value>
      </setting>
    </X.Neurons.P.LeoLedtech.Test.TotalPower.AppSetting>
  </userSettings>
</configuration>